# Force users to use pnpm
engine-strict=true

# Ensure dependencies are installed from the lockfile
frozen-lockfile=true

# Prevent npm and yarn from running
preinstall="node -e \"if(process.env.npm_execpath.indexOf('pnpm') === -1) throw new Error('This repository requires pnpm for package management. Please use: pnpm install')\""